body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

footer p {
    margin: 0
}


.AboutPage,
.NotFoundPage,
.RecipesDetailsPage,
.RecipesCard {
    padding-top: 60px;
    margin-left: 200px;

}


.RecipesCard {

    justify-items: center;
    align-items: center;
    display: flex;

}

.RecipesCard img {
    width: 900px;
    border: 2px solid;
    border-color: #1a76c2;

}