.NavBar {
    background-color: #1a76c2;
    color: white;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    width: 100vw;
    left: 0px;
    top: 0px;

}

.NavBar h1 {
    margin: 0;
}

.NavBar img {
    width: 100px;
    height: 100px;



}